@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 text-white;
  background: #0f172a;

  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button {
  @apply p-4 bg-indigo-500 rounded-lg;
}
